# [ensembl](http://asia.ensembl.org/index.html)

In [1]:
from pathlib import Path
from os import system, walk

import numpy as np
import pandas as pd
from IPython.display import display

> 写个锤子逐行读取和正则，大文件的文本处理还得是bash 的 grep,sew,awk

In [9]:
df = pd.read_json('info_transcriptome.json')
df['file'] = df['file'].apply(lambda x: Path(x))
assert df['id'].is_unique, '[Error] not unique'
df.index = df['id'].to_numpy()
display(df)
command = """
if [[ -d cdna_maps ]] ;then
    echo "[exists] cdna_maps"
else
    mkdir cdna_maps
    echo "[create dir] cdna_maps"
fi
"""

for _i, _row in df.iterrows():
    command = command + \
        "\ncat {file} | grep -E '^>' > cdna_maps/{id}.txt".format(**_row)
command = command + """\necho "[finish]" """
print(command)

           sp                                               file  type  id
hu      human              fasta/Homo_sapiens.GRCh38.cdna.all.fa  nucl  hu
mm      mouse               fasta/Mus_musculus.GRCm39.cds.all.fa  nucl  mm
zf  zebrafish                fasta/Danio_rerio.GRCz11.cds.all.fa  nucl  zf
ch      chick  fasta/Gallus_gallus.bGalGal1.mat.broiler.GRCg7...  nucl  ch
ma    macaque           fasta/Macaca_mulatta.Mmul_10.cdna.all.fa  nucl  ma

if [[ -d cdna_maps ]] ;then
    echo "[exists] cdna_maps"
else
    mkdir cdna_maps
    echo "[create dir] cdna_maps"
fi

cat fasta/Homo_sapiens.GRCh38.cdna.all.fa | grep -E '^>' > cdna_maps/hu.txt
cat fasta/Mus_musculus.GRCm39.cds.all.fa | grep -E '^>' > cdna_maps/mm.txt
cat fasta/Danio_rerio.GRCz11.cds.all.fa | grep -E '^>' > cdna_maps/zf.txt
cat fasta/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.cds.all.fa | grep -E '^>' > cdna_maps/ch.txt
cat fasta/Macaca_mulatta.Mmul_10.cdna.all.fa | grep -E '^>' > cdna_maps/ma.txt
echo "[finish]"

In [10]:
# run in bash
system(command)

[exists] cdna_maps
[finish]

0

In [11]:
df['cdna_maps'] = df['id'].apply(
    lambda x: Path('cdna_maps/{}.txt'.format(x)))
df['cdna_maps_table'] = df['id'].apply(
    lambda x: Path('cdna_maps/cdna_maps_{}.csv'.format(x)))
display(df)

,sp,file,type,id,cdna_maps,cdna_maps_table
hu,human,fasta/Homo_sapiens.GRCh38.cdna.all.fa,nucl,hu,cdna_maps/hu.txt,cdna_maps/cdna_maps_hu.csv
mm,mouse,fasta/Mus_musculus.GRCm39.cds.all.fa,nucl,mm,cdna_maps/mm.txt,cdna_maps/cdna_maps_mm.csv
zf,zebrafish,fasta/Danio_rerio.GRCz11.cds.all.fa,nucl,zf,cdna_maps/zf.txt,cdna_maps/cdna_maps_zf.csv
ch,chick,fasta/Gallus_gallus.bGalGal1.mat.broiler.GRCg7...,nucl,ch,cdna_maps/ch.txt,cdna_maps/cdna_maps_ch.csv
ma,macaque,fasta/Macaca_mulatta.Mmul_10.cdna.all.fa,nucl,ma,cdna_maps/ma.txt,cdna_maps/cdna_maps_ma.csv

In [12]:
for _i, _row in df.iterrows():
    s = pd.Series(_row['cdna_maps'].read_text().split('\n'))
    s = s[s.str.len() > 0]
    cdna_maps = s.str.extract(">(?P<transcript_id>[^\\s]+)")
    for _ in 'primary_assembly,gene,gene_biotype,transcript_biotype,gene_symbol'.split(
            ','):
        cdna_maps[_] = s.str.extract(
            "{}:([^\\s]+) ".format(_), expand=False)
    cdna_maps['description'] = s.str.extract(
        "description:(.+)$", expand=False)
    # gene_symbol 为空则以 transcript_id 填充
    cdna_maps['gene_symbol'] = cdna_maps['gene_symbol'].mask(
        cdna_maps['gene_symbol'].isna(), cdna_maps['transcript_id'])
    # display(cdna_maps.head(2), cdna_maps.isna().any(),
    #         cdna_maps[cdna_maps['gene_symbol'].notna()].head(5))
    # display(
    #     cdna_maps['gene_biotype'].value_counts(
    #         dropna=False),
    #     cdna_maps['transcript_biotype'].value_counts(
    #         dropna=False))
    assert cdna_maps['transcript_id'].is_unique, '[Error] not unique'
    cdna_maps.to_csv(_row['cdna_maps_table'], index=False)
    print('[out] {}'.format(_row['cdna_maps_table']))
del s, cdna_maps, _
print("\n[finish]\n".center(100, "-"))

[out] cdna_maps/cdna_maps_hu.csv
[out] cdna_maps/cdna_maps_mm.csv
[out] cdna_maps/cdna_maps_zf.csv
[out] cdna_maps/cdna_maps_ch.csv
[out] cdna_maps/cdna_maps_ma.csv
---------------------------------------------
[finish]
---------------------------------------------

# exchange id

In [13]:
# df_map
df_map = []
for root, dir, files in walk(Path('maps')):
    for f in files:
        df_map.append(Path(root).joinpath(f))
df_map = pd.DataFrame({
    'path': df_map
})
df_map['name'] = df_map['path'].apply(lambda x: x.stem)
df_map = df_map.join(df_map['name'].str.extract(
    '^(?P<sp_ref>[^_]+)_to_(?P<sp_que>[^_]+)'))
df_map = df_map[df_map['sp_ref'].isin(
    df['id']) & df_map['sp_que'].isin(df['id'])]
df_map.index = np.arange(df_map.shape[0])
df_map.head(5)

                     path      name sp_ref sp_que
0  maps/humm/hu_to_mm.txt  hu_to_mm     hu     mm
1  maps/humm/mm_to_hu.txt  mm_to_hu     mm     hu
2  maps/mmma/ma_to_mm.txt  ma_to_mm     ma     mm
3  maps/mmma/mm_to_ma.txt  mm_to_ma     mm     ma
4  maps/zfmm/zf_to_mm.txt  zf_to_mm     zf     mm

In [16]:
# 耗时
for _i, _row in df_map.iterrows():
    _out = Path('maps_gene_name', *_row['path'].parts[1:])
    if _out.exists():
        _df = pd.read_csv(_out, sep='\t', header=None)
        _df.columns = _df.columns.astype(str)
    else:
        _df = pd.read_csv(_row['path'], header=None, sep='\t')
        _df.columns = _df.columns.astype(str)

        _df = pd.merge(
            left=_df,
            right=pd.read_csv(df.loc[_row['sp_ref'], 'cdna_maps_table']).loc[:, ['transcript_id', 'gene_symbol']].rename(
                columns=lambda x: '{}_ref'.format(x)
            ),
            left_on='0',
            right_on='transcript_id_ref'
        ).merge(
            right=pd.read_csv(df.loc[_row['sp_que'], 'cdna_maps_table']).loc[:, ['transcript_id', 'gene_symbol']].rename(
                columns=lambda x: '{}_que'.format(x)
            ),
            left_on='1',
            right_on='transcript_id_que'
        )
        _df = _df.drop(
            columns='0,1,transcript_id_ref,transcript_id_que'.split(','))
        _df = _df.rename(columns={
            'gene_symbol_ref': '0',
            'gene_symbol_que': '1'
        })
        _df = _df.loc[:, np.sort(_df.columns.astype(np.int8)).astype(str)]
        # display(_df.head(2))

        _out.parent.mkdir(exist_ok=True, parents=True)
        _df.to_csv(_out, index=False, header=False, sep='\t')
    print(
        "[out] {} [0 1 0;1].is_unique [{} {} {} ]".format(
            _out,
            _df['0'].is_unique,
            _df['1'].is_unique,
            (_df['0'] + ';' + _df['1']).is_unique))

print("\n[finish]\n".center(100, "-"))

[out] maps_gene_name/humm/hu_to_mm.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/humm/mm_to_hu.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/mmma/ma_to_mm.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/mmma/mm_to_ma.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/zfmm/zf_to_mm.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/zfmm/mm_to_zf.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/zfhu/hu_to_zf.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/zfhu/zf_to_hu.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/zfch/zf_to_ch.txt [0 1 0;1].is_unique [False False False ]
[out] maps_gene_name/zfch/ch_to_zf.txt [0 1 0;1].is_unique [False False False ]
---------------------------------------------
[finish]
---------------------------------------------

# 1v1

In [3]:
def get_1v1_matches_for_SAMap(
        df_match):
    """
    from came.pp.take_1v_matches
    """
    l, r = df_match.columns[:2]
    l_unique = df_match[l].value_counts(
    ).to_frame().query("count == 1").index
    r_unique = df_match[r].value_counts(
    ).to_frame().query("count == 1").index
    keep = pd.DataFrame({
        'l_is_unique': df_match[l].isin(l_unique),
        'r_is_unique': df_match[r].isin(r_unique)
    }).min(axis=1)
    df_match = df_match[keep]
    return df_match

In [19]:
for _i, _row in df_map.iterrows():
    _out = Path('maps_gene_name', *_row['path'].parts[1:])
    _out_1v1 = _out.with_name('{}_1v1{}'.format(_out.stem, _out.suffix))
    _df = pd.read_csv(_out, sep='\t', header=None)
    print("{}\t{} ->".format(_out.stem,_df.shape[0]),end='')
    _df = get_1v1_matches_for_SAMap(_df)
    print(" {}".format(_df.shape[0]))
    _df.to_csv(_out_1v1, index=False, header=False, sep='\t')
print("\n[finish]\n".center(100,"-"))

hu_to_mm	8211254 -> 173
mm_to_hu	6639142 -> 169
ma_to_mm	2949449 -> 530
mm_to_ma	3698692 -> 531
zf_to_mm	3110966 -> 414
mm_to_zf	3326008 -> 402
hu_to_zf	6989275 -> 68
zf_to_hu	5259124 -> 82
zf_to_ch	3030191 -> 421
ch_to_zf	2571377 -> 421
---------------------------------------------
[finish]
---------------------------------------------

# gzip

it is too large

In [5]:
df_map = []
for root, dir, files in walk(Path('maps_gene_name')):
    for f in files:
        df_map.append(Path(root).joinpath(f))
for root, dir, files in walk(Path('maps')):
    for f in files:
        df_map.append(Path(root).joinpath(f))
df_map = pd.DataFrame({
    'path': df_map
})
df_map = df_map[~df_map['path'].apply(lambda x:x.match("*gz"))]
df_map.index = np.arange(df_map.shape[0])
df_map

                      path
20  maps/humm/hu_to_mm.txt
21  maps/humm/mm_to_hu.txt
22  maps/mmma/ma_to_mm.txt
23  maps/mmma/mm_to_ma.txt
24  maps/zfmm/zf_to_mm.txt
25  maps/zfmm/mm_to_zf.txt
26  maps/zfhu/hu_to_zf.txt
27  maps/zfhu/zf_to_hu.txt
28  maps/zfch/zf_to_ch.txt
29  maps/zfch/ch_to_zf.txt

In [ ]:
for i,row in df_map.iterrows():
    if row['path'].exists():
        print('\r[{}/{}] {}'.format(i+1,df_map.shape[0],row['path'].name).ljust(75,'-'),end='')
        system("gzip '{}'".format(row['path'].absolute()))
    
print('')
print("\n[finish]\n".center(100,"-"))

[27/10] hu_to_zf.txt------------------------------------------------------